<?xml version="1.0"?>
<launch>
  <!-- Call klt_ros -->
  <node pkg="klt_ros" type="klt_ros" name="klt_ros" respawn="false" output="screen" >
 	<!-- Load configurations from YAML file to parameter server -->
   	 <rosparam file="$(find klt_ros)/config/bench_params.yaml" command="load"/> 
  </node>

</launch>